Scatter-Gather/Scatter-Gather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="scatterGather" doc:id="94dd954c-79e2-46fe-9716-d4d9379500f6" >
		<scheduler doc:name="Scheduler" doc:id="3bf00cf8-f728-4550-b725-7cf38a57870a" >
			<scheduling-strategy >
				<fixed-frequency startDelay="1000" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<set-payload value='#[%dw 2.0
&#10;output application/json
&#10;---
&#10;[
&#10;	nike:{
&#10;	"marca":"nike",
&#10;	"tipo":"tenis",
&#10;	"valor": 50
&#10;},
&#10;adidas:{   
&#10;    "marca": "adidas",
&#10;    "tipo":"camisa",
&#10;	"valor": 70
&#10;	
&#10;},
&#10;umbro:{
&#10;	"marca": "umbro",
&#10;	"tipo": null,
&#10;	"valor": 90
&#10;}
&#10;]]' doc:name="payload" doc:id="0cdaea83-68c2-49bf-826b-9b2a97478753" />
		<scatter-gather doc:name="Scatter-Gather" doc:id="ddafaae7-db81-43e4-8b70-cc91d09864bb" >
			<route >
				<set-variable value="#[payload.nike]" doc:name="nike" doc:id="7e956d12-cd3d-4de2-9c0e-c008eaebe83e" variableName="nike"/>
			</route>
			<route >
				<set-variable value="#[payload.adidas]" doc:name="adidas" doc:id="73947be7-0929-4124-bce6-7c2196c73d04" variableName="adidas"/>
			</route>
			<route >
				<set-variable value="#[payload.umbro]" doc:name="umbro" doc:id="0f4df4df-a792-4e5d-a569-d778043b5836" variableName="umbro"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="compra" doc:id="e910da4a-7173-45a4-b116-0dd6d2cba895" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
Produtos: {
  
"Nike" : if(vars.nike.marca[0] != "" and vars.nike.tipo[0] != "" and
vars.nike.marca[0] != null and vars.nike.tipo[0] != null  ) "Compra realizada com sucesso" else "Produto indisponivel no fornecedor",
                    
"Adidas": if(vars.adidas.marca[0] != "" and vars.adidas.tipo[0] != "" and
 vars.adidas.marca[0] != null and vars.adidas.tipo[0] != null  ) 
"Compra realizada com sucesso" else "Produto indisponivel no fornecedor",
                            
                    
 "Umbro": if(vars.umbro.marca[0] != "" and vars.umbro.tipo[0] != "" and
vars.umbro.marca[0] != null and  vars.umbro.tipo[0] != null  ) 
"Compra realizada com sucesso" else "Produto indisponivel no fornecedor"
                        
                            

 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value='#[%dw 2.0
&#10;output application/json
&#10;var nikeP = if(payload.Produtos.Nike != "Produto indisponivel no fornecedor" and
&#10;               payload.Produtos.Nike != null and 
&#10;               payload.Produtos.Nike != "" ) " Nike " else "" 
&#10;
&#10;var adidasP = if (payload.Produtos.Adidas != "Produto indisponivel no fornecedor" and 
&#10;                  payload.Produtos.Adidas != null and 
&#10;                  payload.Produtos.Adidas != "") "Adidas " else ""
&#10;
&#10;var UmbroP = if (payload.Produtos.Umbro != "Produto indisponivel no fornecedor" and 
&#10;                 payload.Produtos.Umbro != null and 
&#10;                 payload.Produtos.Umbro != "") "Umbro " else ""
&#10;
&#10;
&#10;---
&#10;
&#10;{
&#10;    "Você compreou os produtos" : nikeP ++ "" ++ adidasP ++ "" ++ UmbroP 
&#10;                                                                   
&#10;}]' doc:name="produtos comprados" doc:id="d7294f7a-b756-4d59-9e7c-154fd96c2ab7" />
		<logger level="INFO" doc:name="payload" doc:id="c165e53b-029d-4cd0-8247-983811614d7c" message="#[payload]"/>
	</flow>
</mule>