validationError - test/validationError-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="37c23af2-79d3-45f5-885d-9c1180fa9038" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="664d89fa-dbb2-4e08-b6ca-1b1414bf8138" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="validationError" doc:id="83e064af-c05d-494f-8e9c-3e1159def4d4" >
		<http:listener doc:name="HTTP:GET/" doc:id="380159c2-b671-4c78-85cd-61736705de67" config-ref="HTTP_Listener_config" path="/validation"/>
		<set-payload value='#["before"]' doc:name='"before"' doc:id="86d9d347-992a-421a-b92e-c326e5c37f6b" />
		<validation:is-null doc:name="Is null" doc:id="480d11b8-baab-42d7-9c5e-10cbcd90df1a" value="#[payload]" config-ref="Validation_Config"/>
		<set-payload value='#["after"]' doc:name='"after"' doc:id="963fddc4-d338-47f2-b5ad-476fcf771d0e" />
	</flow>
</mule>
